/* Load fonts */
@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto_light.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto_bold.ttf);
    font-weight: bold;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #333; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #555; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #777; 
}

/* Body */
body {
    background-color: #0A0A0A;
    font-family: Roboto, sans-serif !important;
}

/* Generic button modifiers, free to modify
 * Calculator buttons should not be highlighted
 * when focused as that keeps them highlighted
 * after being clicked */
button:focus:not(.in-btn) {
    filter: brightness(2);
}
button:disabled {
    filter: grayscale(1);
    color: grey;
}

/* Generic button stuff, best not to touch */
button:hover {
    cursor: pointer;
}

/* Task bar on the top */
.task-bar {
    /* Free to modify these */
    background-color: #0A0A0A;
    color: white;
    font-size: 14px;
}

/* Dropdown for number type */
.task-bar select {
    /* Free to modify these */
    color: #ccc;
    background-color: #333;
}

/* Window buttons: min, max, close */
.win-btn {
    /* Free to modify these */
    font-size: 16px;
    color: #ccc;
}

/* On hover for window button */
.win-btn:hover {
    filter: brightness(2);
}

/* Close X button */
.close-btn:hover {
    background-color: red;
}

/* Position the div where output
 * is written to */
#output-area {
    /* Free to modify these */
    background-color: #0A0A0A;
    color: #eee;
    font-size: 24px;
}

/* Small text in the answer area 
 * that shows the input the output belongs to */
#output-area small {
    /* Free to modify these */
    color: #aaa;
    font-size: 14px;
}

/* Position the input box */
#main-input {
    /* Free to modify these */
    background-color: #111;
    color: white;
    font-family: Roboto;
    font-size: 24px;
}

/* Buttons container */
#input-area {
    /* Free to modify these */
    color: white;
    background-color: #0c0c0c;
}



/* Button for an input like
 * 0 1 2, CE, etc... */
.in-btn {
    /* Free to modify these */
    font-family: Roboto, monospace;
    background-color: #0c0c0c;
    color: white;
    font-size: 16px;
    border: none;
}


/* Number buttons */
.num-btn {
    /* Add whatever you want */
}

/* 2nd button */
.second-btn {
    background-color: #212936;
}

/* 2nd button when active */
.second-btn-active {
    filter: brightness(3);
}

/* Buttons for special operations
 * that edit storage, such as lists, matrix,
* memory, etc... */
.mem-btn {
    /* Add whatever you want */
}

/* Function buttons, like sin, ln, etc... */
.func-btn {
    /* Add whatever you want */
}

/* Buttons for constants, like pi */
.const-btn {
    /* Add whatever you want */
}

/* Buttons for special non-operator symbols, like
 * [, ], ", etc... */
.symbol-btn {
    color: #b7ffc7;
}

/* CE and C buttons */
.ce-btn {
    background-color: #a52121;
}

/* Buttons that have a 2nd symbol */
.has-second-btn {
    /* Add whatever you want */
}

/* Buttons that have a 2nd symbol, when
 * the 2nd button is active */
.has-second-btn-active {
    color: #555;
}

/* Label for buttons that have
 * 2 functions - the second function
 * is listed as a smaller label and can be
 * accessed with the 2nd button */
.second-label {
    /* Free to modify these */
    color: #777;
    font-size: 12px;
}

/* Color when the label is active */
.second-label-active {
    /* Free to modify these */
    color: white;
    transition: color 0.2s;
}

/* Autocomplete box */
#autocomplete-area {
    /* Free to modify */
    color: white;
    background-color: rgba(0, 0, 0, 0.95);
}

/* Function help bar */
#function-help {
    /* Free to modify */
    color: white;
    background-color: black;
}

/* Little extra description for function purpose
 * if doc exists */
#function-help .help-doc {
    color: grey; 
    margin-left: 20px;
}

/* Buttons in autocomplete */
#autocomplete-area button {
    /* Free to modify */
    color: #777;
    background-color: transparent;
    font-size: 14px;
}

#autocomplete-area button:hover {
    background-color: #111;
}

/* Autocomplete button highlight */
#autocomplete-area .highlight {
    /* Free to modify */
    background-color: #222;
}


/* Function autocomplete */
#autocomplete-area .function {
    color: #777;
}

#function-help .function {
    color: #bfb693;
}

/* Variable autocomplete */
#autocomplete-area .constant,
#function-help .constant {
    color: rgb(106, 189, 148);
}


/* Modal box (Note: width and height may
 * be altered by javascript code. The width and
 * height below are defaults */
#modal {
    /* Free to modify */
    background-color: #111;
    color: white;
}



/* Error message when an error occurs */
.error-msg {
    color: #ff6363;
}

/* Number input in modals */
.modal-input {
    /* Free to modify */
    border: none;
    background-color: #222;
    color: white;
    padding: 8px 12px;
    font-size: 18px;
    transition: background-color 0.2s;
}

.modal-input:focus {
    /* Free to modify */
    background-color: #333;
    transition: background-color 0.2s;
}

/* Modal button (submit usually) */
.modal-btn {
    /* Free to modify */
    outline: none;
    border: none;
    padding: 12px 15px;
    color: white;
    font-size: 14px;
    background-color: #1A1A1A;
    transition: background-color 0.2s;
    font-variant: small-caps;
    user-select: none;
}

.modal-btn:hover {
    /* Free to modify */
    background-color: #333;
    transition: background-color 0.2s;
}

/* Image button */
.modal-img-btn {
    /* Free to modify */
    outline: none;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    background-color: transparent;
    transition: background-color 0.2s;
    user-select: none;
}

.modal-img-btn:hover {
    /* Free to modify */
    background-color: #333;
}


/* List of functions in a menu */
.modal-menu-list {
    /* Free to modify */
    background-color: #0c0c0c;
}

.modal-menu-list li {
    /* Feel free to modify */
    padding: 8px 20px;
    background-color: #0c0c0c;
    transition: background-color 0.2s;
}

.modal-menu-list li:hover {
    /* Feel free to modify */
    cursor: pointer;
    background-color: #222;
}

/* Description label for list items */
.modal-menu-list li .item-desc {
    /* Feel free to modify */
    color: #888;
}

/* Some modals have multiple buttons in a row,
 * the active button has this styling */
.multi-active {
    background-color: #333;
    transition: background-color 0.2s;
}

/* Specially displayed output from some
 * functions such as primeFactors */
.special-output {
    /* Free to modify */
    border-left: 2px solid white;
    padding: 7px 14px;
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: 22px;
}

/* D3 graph stuff, free to modify */
.graph-line {
    stroke: white;
    stroke-width: 1.5px;
    fill: none;
}

.shaded-graph {
    stroke: none;
    fill: white;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ddd;
}

/* An image loaded with loadImage */
.internet-img {
    max-width: 60vw;
    max-height: 100vh;
}

/* Large square menu button */
.square-btn-large {
    color: white;
    background-color: #1a1a1a;
}

.square-btn-large:hover {
    background-color: #222;

}

.square-btn-large img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.matrix-table {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    font-size: 20px;
}

.view-matrix-link {
    border-bottom: 1px solid white;
}

/* Output variable types */
.output-string {
    color: #b7ffc3;
}
.output-function {
    color: #fffcb7;
}
.output-none {
    color: grey;
}
.output-null {
    color: #ffc7b7;
}

.periodic-table-container .element {
    padding: 7.1px 5px;
    text-align: center;
    background-color: #1a1a1a;
    color: #ddd;
}
.periodic-table-container .element:hover {
    background-color: #222;
}

/* Tiny badge to display */
.mini-badge {
    background-color: transparent;
    color: #555;
}

.scroll-to-bottom-for-output-btn {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    user-select: none;
}